<h3>Oops there were some errors:</h3>
<ul>
  <% @task.errors().full_messages().each() do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

<h5>
  <button type="button" name="button" class="btn red"><a href="/">Return to main page to try again</a></button>
</h5>
