<!DOCTYPE html>
<html lang="en">

<head>
  <title>ToDo</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.todo-lists.com%2Fimages%2Ficon.png&f=1">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<header>
  <div class="navbar-fixed">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <% @lists.each() do |list| %>
        <li value="<%= list.id()%>">
          <%= list.name() %>
            <% end %>
        </li>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav class="blue">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">To-Do list</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">tasks</a></li>
          <li>
            <a href="badges.html"></a>
          </li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
          <li><a class="dropdown-button" href="/" data-activates="dropdown1">lists<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="list_id">lists<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body>
  <div class="container">
    <%= yield %>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
</body>

</html>
